.texthead{
    margin-top: 6rem;
    
  font-size: 5rem;
}
@media(max-width:1224px){
    .texthead{
        margin: auto;
    }
    .texthead{
        font-size: 2rem;
    }
    .marqueetext{
        display: flex;
        height: 90px;
        margin: 0rem 0 0rem 0;
    }
}