.texthead{
    margin: auto;
    margin-bottom: 10rem;
}
@media(max-width:1081px){
    .texthead{
        font-size: 2rem;
    }
    .marqueetext{
        display: flex;
        height: 90px;
        margin: 0rem 0 0rem 0;
    }
}