.base{
    display:flex;
    position:-webkit-sticky;
}



.setter{
    display:flex;
    flex-direction: row-reverse;
    height: 40rem;
    width: 100rem;
    justify-content: space-evenly;
    margin-left: 40em;
    background-color: transparent;

    /* overflow-y: hidden; */
}
.set1{
    display: flex;
    width: 40em;
}

.set2{
    display: flex;
    width: 40rem;
}
.head{
    color:#ff7e27;
}

.set2 .pp p{
    margin-top:3rem;
    font-size: 25px;
}
